.tweet {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 6px auto;
    background: #F0F0F0 none repeat scroll 0% 0%;
    max-width: 800px;
    overflow: auto;
}

.tweet .profile {
    margin-right: 10px;
    border-radius: 8px;
    float: left;
}

.tweet .media {
    width: 100%;
}